@font-face {
    font-family: ailerons;
    src: url(../ressources/font/Ailerons-Typeface.otf);
}

html{

    overflow-x: hidden;
    font-family: ailerons, serif;
    color: white;
}

body{
    margin: 0px;
    background: linear-gradient(90deg, rgb(4, 45, 84), rgb(5, 29, 52), rgb(0,0,0));
    position: relative;
    overflow: hidden;
}



.rond {
    width: var(--s);
    height: var(--s);
    border-radius: 50%;
    background: rgba(255,255,255,0.01);
    box-shadow:
            0 0 20px rgba(0,0,0,0.3), /* ombre externe */
            inset 0 0 20px rgba(255,255,255,0.2); /* reflet interne */
    position: absolute;
    transform: translate3d(
            calc(100vw * var(--x)),
            calc(100vh * var(--y)),
            0
    );
    animation: bubble 7s ease-in-out infinite;
}

@keyframes bubble {
    0% {
        transform: translate(
                calc(100vw * var(--x)),
                calc(120vh)
        );
        opacity: 0;
    }
    50% {
        transform: translate(
                calc(100vw * var(--x)),
                calc(60vh)
        );
        opacity: 1;
    }
    100% {
        transform: translate(
                calc(100vw * var(--x)),
                0vh
        );
        opacity: 0;
    }
}



.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    border-radius: 1rem;
    background-color: transparent;
    margin: auto;
    height: 80%;
    width: 100%;
}

.picture-me{
    width: 20vh;
    border-radius: 50%;
}

h1{
    font-size: 3rem;
    width: 100%;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0.2rem;
}

.description{
    font-size: 1.75rem;
    margin-top: 0rem;
}

.link-block{
    font-size: 2rem;
    width: 75%;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    backdrop-filter: blur(0.5rem);
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.link-block img{
    width: 5vh;
}
.link-block:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

a{
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
    padding: 1rem;
}

footer{
    text-align: center;
}