@font-face {
    font-family: ailerons;
    src: url(../ressources/font/Ailerons-Typeface.otf);
}

:root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.6);
}

/*ANIMATION*/
@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}

html,body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction: column;

    --x: calc(var(--posX, 0) * 1px);
    --y: calc(var(--posY, 0) * 1px);
    background-image:
            linear-gradient(115deg, rgb(159, 225, 240), rgb(56, 142, 204)),
            radial-gradient( 90% 100% at calc( 50% + var(--x)) calc( 0% + var(--y)), rgb(180, 234, 176), rgb(63, 173, 71)),
            radial-gradient(100% 100% at calc( 80% - var(--x)) calc( 0% - var(--y)), rgb(112, 207, 220), rgb(0, 106, 166)),
            radial-gradient(150% 210% at calc(100% + var(--x)) calc( 0% + var(--y)), rgb(126, 206, 193), rgb(46, 137, 149)),
            radial-gradient(100% 100% at calc(100% - var(--x)) calc(30% - var(--y)), rgb(120, 198, 252), rgb(0, 85, 206)),
            linear-gradient(60deg, rgb(0, 160, 176), rgb(0, 70, 140));
    background-blend-mode: overlay, overlay, difference, difference, difference, normal;
}
.container {
    width: var(--card-width);
    max-width: 90%;
    height: var(--card-height);
    position: relative;
    perspective: 800px;
    border-radius: 4px;
}
.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 6px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.2);
}
.card div {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 6px;
    background: rgba(255,255,255,0.05);
    color: #fff;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.card .back {
    transform: rotateY(180deg);
}
.card.flipped {
    transform: rotateY(180deg);
}

.front img{
    height: 38%;
    margin: 1rem;
}
.front button{
    height: 7%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    cursor: pointer;
}
.front h1, .front p{
    margin: 0rem;
    font-family: ailerons, serif;
    font-size: 2.5rem;
    height: 15%;
}


.back h1, .back p{
    margin: 0rem;
    font-family: ailerons, serif;
    font-size: 2.5rem;
    height: 15%;
}
.back div{
    height: 38%;
}
.back button{
    height: 7%;
    cursor: pointer;
}

.card .liens{
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1rem;
}

.lien{
    flex-basis: calc(100% / 3);
    text-align: center;
}
.lien:hover{
    transform: scale(1.3);
    transition: transform 0.5s ease-in-out;
}

button{
    font-family: ailerons, serif;
    font-size: 1.5rem;
    border-style : none;
    text-decoration: none;
    width: 50%;
/*    background: linear-gradient(to top right, #EB7AC8, #6240F6);*/
    background-image: linear-gradient(
            var(--rotate)
            , rgb(0, 160, 176), rgb(0, 70, 140));
    animation: spin 2.5s linear infinite;
    border-radius: 20px;
    color: white;
    box-shadow: 0px 8px 20px rgba(0,0,0,60%);
}
button:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}


@media (max-height: 790px) {
    .front h1, .front p{
        font-size: 2rem;
    }


    .back h1, .back p{
        font-size: 2rem;
    }
}

@media (max-height: 640px) {
    .front h1, .front p{
        font-size: 1.5rem;
    }


    .back h1, .back p{
        font-size: 1.5rem;
    }
    button{
        font-size: 1rem;
    }
}
