@import "tailwindcss";

@theme {
    --color-custom-olive: #606c37;
    --color-custom-forest: #283618;
    --color-custom-cream: #FEFAE0;
    --color-custom-amber: #DDA15E;
    --color-custom-bronze: #BC6C25;

    --font-bagel: "Bagel Fat One", system-ui;
    --font-lato: "Lato", system-ui;
}

@font-face {
    font-family: Lostar;
    font-style: normal;
    font-weight: 200 700;
    font-display: block;
    src: url("/fonts/Lostar.ttf") format("truetype");
}

html {
    background-color: var(--color-custom-cream);
    overflow-x: hidden;
}