@import "tailwindcss";

@theme {
    --color-custom-olive: #606c37;
    --color-custom-forest: #283618;
    --color-custom-cream: #FEFAE0;
    --color-custom-amber: #DDA15E;
    --color-custom-bronze: #BC6C25;

    --font-lostar: "Lostar";
}

@font-face {
    font-family: Lostar;
    font-style: normal;
    font-weight: 200 700;
    font-display: block;
    src: url("/fonts/Lostar.ttf") format("truetype");
}

html {
    background-color: var(--color-custom-cream);
    overflow-x: hidden;
}

body,
* {
    cursor: none !important;
}

.text-shadow-custom-bronze {
    text-shadow:
        -0.02em 0.02em 0 var(--color-custom-bronze),
        -0.04em 0.04em 0 var(--color-custom-bronze),
        -0.06em 0.06em 0 var(--color-custom-bronze),
        0 .35em .2em var(--color-custom-bronze),
        0 .25em .2em var(--color-custom-bronze);
    -webkit-text-stroke: 1px var(--color-custom-bronze);
}

.text-shadow-custom-amber {
    text-shadow:
        -0.02em 0.02em 0 var(--color-custom-amber),
        -0.04em 0.04em 0 var(--color-custom-amber),
        -0.06em 0.06em 0 var(--color-custom-amber),
        0 .35em .2em var(--color-custom-amber),
        0 .25em .2em var(--color-custom-amber);
    -webkit-text-stroke: 1px var(--color-custom-amber);
}

.text-shadow-custom-cream {
    text-shadow:
        -0.02em 0.02em 0 var(--color-custom-cream),
        -0.04em 0.04em 0 var(--color-custom-cream),
        -0.06em 0.06em 0 var(--color-custom-cream),
        0 .35em .2em var(--color-custom-cream),
        0 .25em .2em var(--color-custom-cream);
    -webkit-text-stroke: 1px var(--color-custom-cream);
}

.underline-gradient {
    position: relative;
}

.underline-gradient::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, var(--color-custom-olive), var(--color-custom-forest), var(--color-custom-amber), var(--color-custom-bronze));
    border-radius: 2px;
    pointer-events: none;
    z-index: 1;
    transition: opacity 0.2s;
    opacity: 0;
}

.underline-gradient:hover::after {
    opacity: 1;
}

/* Dark mode overlay styles */
.dark-mode-overlay {
    mix-blend-mode: difference;
}

img {
    position: relative;
    z-index: 100000;
}